<form action="/airplane_seats" id="add_seat_form" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Type the array here</p>
  <input type="text" name="airplane_seat[seat_array]" value="[[3,2], [4,3], [2,3], [3,4]]">
  <p>Type the number of passengers here</p>
  <input type="text" name="airplane_seat[passenger_count]" value="30">
  <input type="submit" value="Send">
</form>
<hr>
<p>Note: Passengers who have not been able to book the plane</p>
<p id="unboarded_passengers">0</p>

<hr>
<p> Results here:</p>

<code id="airplane_seats">

</code>
<hr>
<a href="https://codebeautify.org/c-formatter-beautifier" target="_blank">Array Beautifier</a>